* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(228, 237, 253);
  color: black;
}

.book {
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border: 1px solid rgb(143, 143, 143);
  padding: 20px 20px;

  margin: 2rem auto;
}

.book h3 {
  margin-top: 0.5rem;
}

.book h5 {
  color: rgb(21, 103, 114);
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

.book p {
  margin-top: 0.5rem;
}

.booklist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgb(21, 103, 114);
  color: rgb(228, 237, 253);
  padding: 50px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

@media only screen and (max-width: 1600px) {
  .booklist {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .booklist {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 2rem;
  }
}
